
@{
    ViewData["Title"] = "外勤申请";

    Layout = "~/Views/Shared/_Layout.cshtml";
    //  Layout = null;
}



@*<select>
        @{

            foreach (var x in ViewBag.typeList)
            {
                @if (@x.Type == 1)
                {
                    <option value="x.Name">@x.Name</option>}
            }
        }
    </select>*@


<!--===========layout-container================-->
<!--===========layout-container================-->
<div class="register-box">
    <form action="" class="am-form" data-am-validator>
        <fieldset>
            <legend>
                外勤申请
                @*<p class="register-info">你好，<b>@ViewBag.UserName</b></p>
            <p class="register-info">  你当前的【年假】还剩余:<strong style="color:red" id="Vocation">null</strong>天</p>*@
            </legend>
            <div class="am-form-group">

                <label for="doc-vld-name-2" class="register-name" id="UserName">
                    外勤人员：
                </label>

                @ViewBag.UserName

                <span class="text-right" style="color:darkviolet"> <i class="am-icon-plus" id="addUser"> </i></span>
            </div>
            <div class="am-form-group">

                <label for="doc-vld-name-2 am-u-md-8" style="float:left" id="UserName">
                    <span> 选择添加的成员:</span>

                </label>
                <button id="AddMoreTextBox">add</button>
                <span class="am-u-md-4 text-right" id="InputsWrapper">
                 
                </span>
                <i class="am-icon-check am-text-success"></i>
                &nbsp; &nbsp; <i class="am-icon-close am-text-danger"></i>
            </div>

            <script>
                $(document).ready(function () {
                    var InputCount = 3;
                    $("#AddMoreTextBox").click(function (e) {
                        InputCount++;
                        $("#InputsWrapper").append(' <select>             @{

                            foreach (var x in ViewBag.userList)
                            {

                                                <option value="@x.Id">@x.UserName</option>}
                            }
                                    }</select >');
                    });
                });
            </script>

            <input type="hidden" value=" @ViewBag.UserName;" />

            <div class="am-form-group">
                <div class="am-g">
                    <div class="am-u-md-2 am-padding-0 am-text-right">
                        <label for="doc-vld-name-2" class="register-name">外勤地点</label>
                    </div>
                    <div class="am-u-md-10">
                        <div class="outer">
                            <select name="province" id="province">
                                <option value="请选择">请选择</option>
                            </select>
                            <select name="city" id="city">
                                <option value="请选择">请选择</option>
                            </select>
                            <input type="text" name="destination" placeholder="输入目的地，如：中山大学" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="am-form-group">
                <div class="am-g">
                    <div class="am-u-md-12 am-padding-0 am-text-left ">
                        <label for="doc-vld-name-2" class="register-name">外勤日期</label>
                    </div>

                    <div class="am-alert am-alert-danger" id="my-alert" style="display: none">
                        <p>开始日期应小于结束日期！</p>
                    </div>

                    <div class="am-u-sm-8">
                        <button type="button" class="am-btn am-btn-default am-margin-right" id="my-start">开始日期</button><span id="my-startDate">@DateTime.Now.ToString("yyyy-MM-dd")</span>
                    </div>

                    <div class="am-u-sm-4">
                        <select id="startDayhalf">
                            <option value="s0">全天</option>
                            <option value="s1">上午</option>
                            <option value="s2">下午</option>
                        </select>
                    </div>
                    <div class="am-u-sm-12">&nbsp;</div>
                    <div class="am-u-sm-8">
                        <button type="button" class="am-btn am-btn-default am-margin-right" id="my-end">结束日期</button><span id="my-endDate">@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")</span>
                    </div>
                    <div class="am-u-sm-4">
                        <select id="endDayhalf">
                            <option value="e0">全天</option>
                            <option value="e1">上午</option>
                            <option value="e2">下午</option>
                        </select>
                    </div>
                    <div class="am-u-md-12 am-padding-0 am-text-center">
                        <label for="doc-vld-name-2" class="register-name text-center">共<span id="countDay" style="color:red"></span>天</label>
                    </div>
                </div>
            </div>



            <div class="am-form-group">
                <div class="am-g">
                    <div class="am-u-md-2 am-padding-0 am-text-right">
                        <label for="doc-vld-name-2" class="register-name">外勤原因</label>
                    </div>
                    <div class="am-u-md-10">
                        <input type="text" id="Reason" minlength="3"
                               placeholder="输入请假原因" required />
                    </div>
                </div>
            </div>


            <div class="am-g">
                <div class="am-u-md-10">
                    <button class="am-btn am-btn-secondary" type="button" onclick="SubmitData()">外勤</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>
            var temps = "@DateTime.Now.ToString("yyyy-MM-dd")";
        var tempe = "@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")";
        var startDate = new Date(Date.parse(temps.replace(/-/g, "/")));
        var endDate = new Date(Date.parse(tempe.replace(/-/g, "/")));

    $(function () {

        var $alert = $('#my-alert');
        $("#countDay").html(getLeaveDay(startDate, endDate));
        //$("#countDay").html(getLeaveDay(startDate, endDate));
        $('#my-start').datepicker().
            on('changeDate.datepicker.amui', function (event) {
                if (event.date.valueOf() > endDate.valueOf()) {
                    $alert.find('p').text('开始日期应小于结束日期！').end().show();
                } else {
                    $alert.hide();
                    startDate = new Date(event.date);
                    $('#my-startDate').text($('#my-start').data('date'));
                }
                $(this).datepicker('close');
                $("#countDay").html(getLeaveDay(startDate, endDate));
            });

        $('#my-end').datepicker().
            on('changeDate.datepicker.amui', function (event) {
                if (event.date.valueOf() < startDate.valueOf()) {
                    $alert.find('p').text('结束日期应大于开始日期！').end().show();
                } else {
                    $alert.hide();
                    endDate = new Date(event.date);
                    $('#my-endDate').text($('#my-end').data('date'));
                }
                $(this).datepicker('close');
                $("#countDay").html(getLeaveDay(startDate, endDate));
            });


    $("#endDayhalf").change(function () {
        $("#countDay").html(getLeaveDay(startDate, endDate));

    }
    );

    $("#startDayhalf").change(function () {
        $("#countDay").html(getLeaveDay(startDate, endDate));

    }
    );


            $.ajax({
            url: "../api/getVocation",    //请求的url地址
            dataType: "json",   //返回格式为json
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: {
                "UserId": @ViewBag.UserId,
            },    //参数值
            type: "POST",   //请求方式
            beforeSend: function () {
                //请求前的处理
            },
            success: function (data) {
                //请求成功时处理
                console.log(data)

                $("#Vocation").html(data);



            },
            complete: function () {
                //请求完成的处理
            },
            error: function () {
                //请求出错处理
            }
        });





    });  //end function


    function SubmitData() {

        var s_halfDay = $("#startDayhalf").find("option:selected").text();
        var e_haftDay = $("#endDayhalf").find("option:selected").text();


        var Sub_StartDay = DateToString(startDate) + s_halfDay;
        var Sub_EndDay = DateToString(endDate) + e_haftDay;
        var Sub_SumDay = $("#countDay").html();
        var Sub_Type = 1;
        var Sub_Type = $("#sonType").val();
        var Sub_UserId = @ViewBag.UserId;
        var Sub_Reason = $("#Reason").val();


        if (Sub_Reason.length != 0 && Sub_Reason != null)
        {
            console.log("开始：" + Sub_StartDay);
            console.log("结束：" + Sub_EndDay);
            console.log("类型：" + Sub_Type);
        //    console.log("子类：" + Sub_sonType);
            console.log("UserId：" + Sub_UserId);
            console.log("Reason：" + Sub_Reason);


        }
        $.ajax({
            url: "../api/mail",    //请求的url地址
            dataType: "json",   //返回格式为json
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: {
                "Type": Sub_Type,
                "UserId": Sub_UserId,
                "Reason": Sub_Reason,
                "StartDate":Sub_StartDay,
                "EndDate": Sub_EndDay,
                "SumDay": Sub_SumDay,

            },    //参数值
            type: "POST",   //请求方式
            beforeSend: function () {
                //请求前的处理
            },
            success: function (data) {
                //请求成功时处理
                console.log(data)
                if (data == true)
                    alert("OK,You Application is successfully")
                else
                    alert("Error,Insert DataBase is failed.")

            },
            complete: function () {
                //请求完成的处理
            },
            error: function () {
                //请求出错处理
            }
        });

    }
    function getLeaveDay(Strat, End) {
        var sd = Strat.toString()
        var ed = End.toString()
        var sdate = new Date(Date.parse(sd.replace(/-/g, "/")));
        var edate = new Date(Date.parse(ed.replace(/-/g, "/")));
        var days = edate.getTime() - sdate.getTime();
        var day = parseInt(days / (1000 * 60 * 60 * 24));
        var startDayhalf = $("#startDayhalf").val();
        var endDayhalf = $("#endDayhalf").val();
        if (sd != ed) {
            switch (startDayhalf) {
                case "s2":
                    day = day - 0.5;
                    break;
            }
            switch (endDayhalf) {
                case "e1":
                    day = day - 0.5;
                    break;
            }
        } else {

            switch (endDayhalf) {
                case "e1":
                    day = day - 0.5;
                    break;
                case "e2":
                    day = day - 0.5;
                    break;
            }
        }

        return day+1;
    }


    function DateToString(InputDate) {

        var y = InputDate.getFullYear();
        var m = (InputDate.getMonth() + 1).toString();
        var d = (InputDate.getDate()).toString();

        if (m.length == 1)
            m = "0" + m;
        if (d.length == 1)
            d = "0" + d;
        return y + "-" + m + "-" + d;
    }
</script>




<script src="~/js/area.js" charset="utf-8"></script>
<script src="~/js/select.js" charset="utf-8"></script>

